.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem auto 0;
    justify-content: center;
    width: 46rem;
}
.emptyContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
    border-radius: 8px;
    border-top: 1px solid #333333;
}
.emptyContent img{
    width: 3.5rem;
    margin: 4rem 0 1rem;
}
.emptyContent p{
    color: var(--gray-300);
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
}
.emptyContent span{
    font-weight: 400;
}