.form {
  margin-top: -1.6875rem;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  gap: 0.5rem;
}
.form input {
  width: 39.875rem;
  height: 3.375rem;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--gray-500);
}
.form input:focus{
  outline: 1px solid var(--purple-700);
}
.form input::placeholder {
  color: var(--gray-300);
}
.form button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--blue-700);
}
.form button:hover {
  background-color: var(--blue-500);
}
.form .icon{
  font-size: 1rem;
}