.form{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: -1.6875rem;
    margin: -1.6875rem 2rem 0;
}
.form input{
    width: 39.875rem;
    height: 3.375rem;
    padding: 1rem;
    border-radius: 8px;
    outline: transparent;
    color: var(--gray-100);
    border: 1px solid var(--gray-700);
    background-color: var(--gray-500);
}
.form input:focus{
    border: 1px solid var(--purple-700);
}
.form input::placeholder{
    color: var(--gray-300);
}
.form button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: var(--blue-700);
    color: var(--gray-100);
}
.form button:hover{
    background-color: var(--blue-500);
}